:root {
    --primary_color: #0251af;
    /* --button_background:#ffa52b; */
    /* --button_background:#356df1; */
    --button_background:#0251af;
    --bg: #f4f9ff;
    --button_hover:#173375;
    --white: #ffffff;
    --black:black;
    --font_regular:"rubik_regular";
    --font_bold:"roboto_bold";
    --font_bold_rale:"raleway_bold";
    --heading: #031f42;
}