@media only screen and (max-width: 1300px) {
    .container .header_con .header_center {
        width: 100%;
    }

    .container_one {
        width: 100%;
    }

    .container .course_t_con .course_t_center {
        width: 100%;
    }

    .container .about_in_con .about_in_center {
        width: 100%;
    }

    .container .blog_t_con .blog_t_center {
        width: 100%;
    }

    .container .certi_cor_con .certi_cor_center {
        width: 100%;
    }

    .container .footer_con .footer_center {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .header .logo_search .cate_m {
        width: 20%;
    }

    .header .logo_search .login {
        width: 30%;
    }
}

@media only screen and (max-width: 1025px) {
    .header .logo_search .cate_m {
        width: 22%;
    }

    .header .logo_search .search {
        width: 42%;
    }

    .header .logo_search .login {
        width: 15%;
    }
}


@media only screen and (max-width: 991px) {
    .main-banner {
        padding: 30px 0 90px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-1 {
        left: 25px;
        top: 105px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-2 {
        top: 150px;
        left: 135px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-3 {
        top: 242px;
        left: 180px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-4 {
        top: 140px;
        right: 25px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-6 {
        right: 290px;
        top: 310px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-7 {
        right: 55px;
        top: 360px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-8 {
        top: 480px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-9 {
        right: 25px;
        top: 625px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-10 {
        left: 55px;
        bottom: 450px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-11 {
        right: 200px;
        bottom: 400px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-12 {
        left: 25px;
        bottom: 30px;
        width: 20px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-13 {
        left: 195px;
        bottom: 80px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-14 {
        left: 350px;
        bottom: 40px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-15 {
        left: 490px;
        bottom: 100px;
    }

    .main-banner-bg-aliment-wp .bg-aliment-16 {
        display: none !important;
    }

    .main-banner-bg-aliment-wp .bg-aliment-17 {
        right: 70px;
        bottom: 70px;
    }

    .main-banner .banner-content {
        padding-top: 0;
        text-align: center;
        margin-bottom: 50px;
    }

    .banner-description-wp {
        flex-direction: column;
    }

    .banner-image-box {
        max-width: 550px;
        margin: 0 auto;
        clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 99.7%);
    }

    .banner-image img {
        max-width: 100%;
    }

    .banner-image::after {
        aspect-ratio: 1 / 0.87454545454;
    }

    .congra-box {
        top: 220px;
    }

    .banner-image-shape {
        top: -65px;
        left: auto;
        right: 70px;
        transform: rotate(145deg);
        width: 100px;
    }

    .container_one {
        padding: 20px 50px;
        box-sizing: border-box;
    }

    .container_one .ban_left {
        width: 100%;
    }

    .container_one .ban_right {
        width: 100%;
    }

    .sub-title {
        font-size: 17px;
    }

    .h1-title {
        font-size: 53px;
        line-height: 75px;
    }

    .course_t .course_list > ul > li {
        width: 33%;
    }

    .container .about_in_con .about_in_center .right_course .rig_course{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .about_in .about_content .about_c {
        margin-left: 40px;
        margin-right: 0px; 
    }

    .certi_cor .apply_now .apply_image{
        flex: inherit;
    }
}

@media only screen and (max-width: 850px) {
    .header .logo_search .cate_m {
        width: 24%;
    }

    .header .logo_search .search {
        width: 40%;
    }

     .container .about_in_con .about_in_center .right_course{
        padding: 10px;
        box-sizing: border-box;
    }

    .about_in_center .right_course .rig_course .course_bg {
        margin: 0 0 0;
    }
}

@media only screen and (max-width: 769px) {
    .header .logo_search .logo {
        width: 35%;
        float: left;
    }

    .header .logo_search .cate_m {
        width: 31%;
        float: right;
    }

    .header .logo_search .search {
        width: 77%;
    }

    .header .logo_search .login {
        width: 23%;
        /* float: right; */
    }

    .course_t .course_list > ul > li {
        width: 50%;
    }

    .container .about_in_con .about_in_center .about_in {
        flex-direction: column; 
    }

    .about_in .about_image {
        width: 100%;
    }

    .about_in .about_content {
        width: 100%;
    }

    .certi_cor .apply_now .apply_image {
        flex: 0 0 0;
    }

    .certi_cor .apply_now .apply_now_txt .apply_title {
        width: 400px;
    }

    .certi_cor .apply_now .apply_now_txt .apply_title .sub_head {
        font-size: 27px;
        line-height: 39px;
    }
}






@media only screen and (max-width: 551px) {

    .container .header_con {
        padding: 10px;
        box-sizing: border-box;
    }

    .header .logo_search .logo {
        width: 50%;
        float: left;
    }

    .header .logo_search .logo img {
        padding: 22px 10px;
    }

    .header .logo_search .cate_m {
        width: 48%;
    }

    .main-banner {
        padding: 0px 0 90px;
    }

    .container_one {
        padding: 20px 25px;
        box-sizing: border-box;
    }

    .banner-image img {
        max-width: inherit;
    }

    .banner-image img {
        margin-left: 0;
        max-width: max-content;
        width: auto;
    }

    .course_t .course_list > ul > li {
        width: 100%;
    }

    .course_t .course_list > ul > li .list_hover .img_cont .para {
       height: 200px;
       -webkit-line-clamp: 8;
    }

    .course_t .course_heads .pop_course {
        width: 100%;
    }

    .course_t .course_heads .pop_course .pop_head{
        font-size: 25px;
    }

    .certi_cor .apply_now .img_over{
        display: none;
    }

    .certi_cor .apply_now {
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .certi_cor .apply_now .app_con {
        gap: 0;
    }

    .certi_cor .apply_now .apply_now_txt .apply_title {
        width: 319px;
    }

}
