.contact_banner{
    min-width: 100%;
    float: left;
}

.contact_banner .cont_bg{    
    padding: 155px 0;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../images/banner/contact_bg.jpg);
    background-size: cover;
    position: relative;
}

.contact_banner .cont_bg:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.7;
    background-color: var(--black);
}

.contact_banner .cont_bg_center{
    width: 1300px;
    margin: 0 auto;
}

.contact_banner .cont_bg_center .cont_bg_c{
	width: 100%;
    float: left;
    box-sizing: border-box;
    position: relative;
    margin: 0px 0 100px;
}

.contact_banner .cont_bg_center .cont_bg_c .cont_title{
	font-size: 48px;
    font-weight: 600;
    line-height: 1.18;
    text-transform: uppercase;
    color: var(--white);
    margin: -0.2em 0 -0.26em 0;
    font-family: var(--font_bold);
}

.contact_banner .cont_bg_center .cont_bg_c .breadcumb_menu{
	max-width: 100%;
    padding: 0;
    margin: 31px 0 -0.5em 0;
    list-style-type: none;
    position: relative;
}

.contact_banner .cont_bg_center .cont_bg_c .breadcumb_menu ul li{
	display: inline;    
    list-style: none;
    position: relative;
    white-space: normal;
    word-break: break-word;
    font-weight: 400;
    font-size: 20px;    
}

.contact_banner .cont_bg_center .cont_bg_c .breadcumb_menu ul li:first-child{
    border-right: 1px solid #fff;
}

.contact_banner .cont_bg_center .cont_bg_c .breadcumb_menu ul li a{
    color: var(--white);
    padding: 10px;
    font-family: var(--font_regular);
}

.cont_addr_con{
    min-width: 100%;
    float: left;
}

.cont_addr_con .cont_addr_center{
    width: 1300px;
    margin: 0 auto;
}

.cont_addr_con .cont_addr_center .cont_addr{
	width: 100%;
    float: left;
    box-sizing: border-box;
    position: relative;
    margin: 0px 0 100px;
}

.cont_addr .addr_bar{
	width: 100%;
    float: left;
    margin: 20px 0;
}

.cont_addr .addr_bar ul{
	width: 100%;
    float: left; 
    display: flex;
    flex-wrap: wrap;   
    gap: 10px;
    box-sizing: border-box;
}

.cont_addr .addr_bar ul li{
    width: 32%; 
}

.cont_addr .addr_bar ul li .li_con{
	display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;   
    background: var(--primary_color);
    border-radius: 10px;
    padding: 30px 0px;
    height: 196px;
}

.cont_addr .addr_bar ul li .li_con .img{
	width: 100%;
    float: left;    
}

.cont_addr .addr_bar ul li .li_con .img i{
	font-size: 48px;
    color: #ffffff; 
    margin: 30px 0;
}

.cont_addr .addr_bar ul li .li_con .img_txt{
	width: 100%;
    float: left;    
}

.cont_addr .addr_bar ul li .li_con .img_txt .head{
	color: #fff;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: var(--font_bold);    
    
}

.cont_addr .addr_bar ul li .li_con .img_txt span{
	color: #fff;
    font-size: 16px;
    font-family: var(--font_regular);
    display: inline-block;
    width: 100%;  
}

/* Form Starts*/

.contact_form{
    width: 100%;
    float: left;
}

.contact_form .form_bg {
    width: 45%;
    float: left; 
    padding: 20px;
    box-sizing: border-box;       
}

.contact_form .form_bg .img{
    width: 100%;
    float: left;        
}

.contact_form .form_bg .img img{
    width: 100%;
    max-width: 100%;
    height: 710px;
    object-fit: cover;
    object-position: center center;
    border-radius: 24px 80px 24px 24px;        
}


.contact_form .enquiry_form_one {
    width: 55%;
    float: left;        
}

.contact_form .common_form_one {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    width: 100%;
    /*max-width: 350px;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    position: relative;
    padding: 40px;
    box-sizing: border-box;
}

.contact_form .common_form_one .close_button {
    background: none;
    color: var(--primary_color);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 7px;
    border: solid 1px var(--primary_color);
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }

.contact_form  .common_form_one .close_button i{
    margin-top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 50%;
  }

.contact_form  .common_form_one .close_button:hover{
    color:var(--white);
    background-color: var(--primary_color);
  }

.contact_form .common_form_one .feild_head{
    width: 100%;
    float: left;
}

.contact_form .common_form_one .feild_head .head{
    width: 100%;
    float: left;
    font-family: var(--font_bold);
    text-align: center;
    color: var(--black);
    margin-bottom: 30px;
    font-size: 27px;
    text-transform: uppercase;
}

.contact_form .common_form_one .input_box .spinner{
    width: 100%;
    float: left;
    position: absolute;
    left: 0;
    z-index: 9;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 86%;
    top: 37px;
    background: rgba(255, 255, 255, 0.8);
    display: none;
}

.contact_form .common_form_one .input_box .spinner img{
    width: 100px;
    margin-top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 50%;
}

.contact_form .common_form_one .input_box .result{
    width: 100%;
    float: left;
    position: absolute;
    left: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86%;
    top: 37px;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    /* margin-top: 50%; */
    /* transform: translate(-50%, -50%); */
    /* margin-left: 50%; */
    text-align: center;
    padding-top: 200px;
    box-sizing: border-box;
}



.contact_form .common_form_one .input_box .feild_b{
    width: 100%;
    float: left;
}


.contact_form .common_form_one .input_box .feild_b .box_name{
    width: 100%;
    float: left;
    font-family: var(--font_regular);
    padding: 5px;
    box-sizing: border-box;
    color: var(--black);
    display: none;
}

.contact_form .common_form_one .input_box .feild_b .box_feild{
    width: 100%;
    float: left;
    margin-bottom: 30px;
    position: relative;
}

.contact_form .common_form_one .input_box .feild_b:last-child .box_feild{
    margin-bottom: 0;
}

.contact_form .common_form_one .input_box .feild_b .box_feild label.error{
    color:var(--error);
    position: absolute;
    left: 8px;
    top: 100%;
    font-size: 12px;
    font-family: var(--font_regular);   
}

.contact_form .common_form_one .input_box .feild_b .box_feild input{
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ccc;
    font-family: var(--font_regular);
}

.contact_form .common_form_one .input_box .feild_b .box_feild .cty_code{
    width: 25%;
    float: left;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact_form .common_form_one .input_box .feild_b .box_feild .cty_code .code{
    width: 60%;
    float: left;
    
}

.contact_form .common_form_one .input_box .feild_b .box_feild .cty_code .code select{
    width: 100%;
    float: left;
    padding: 9px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.contact_form .common_form_one .input_box .feild_b .box_feild .cty_code .c_val{
    width: 40%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    color: var(--black);
}

.contact_form .common_form_one .input_box .feild_b .box_feild .box{
    width: 75%;
    float: left;
}

.contact_form .common_form_one .input_box .feild_b .box_feild .box input{
    width: 100%;
    float: left;
    padding: 10.5px;
    border-left: none;
}

.contact_form .common_form_one .input_box .feild_b .box_feild textarea{
    width: 100%;
    float: left;
    padding: 10.5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    height: 100px;
}

.contact_form .common_form_one .input_box .feild_b .box_feild input[type='button']{
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ccc;
    background: var(--primary_color);
    color: white;
    font-family: var(--font_medium);
    font-size: 16px;
    text-transform: uppercase;
    
    cursor: pointer;
}


/* Form Ends */
.contact_form .social{
    width:100%;
    float: left;
    margin: 60px 0;
}

.social_media_list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social_media_list li a {
  color: #fff;
}

.social_media_list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: var(--primary_color);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social_media_list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px var(--primary_color);
  transition: all .2s ease-in-out;
}

.social_media_list li:hover {
  background-color: var(--primary_color); 
}

.social_media_list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social_media_list li:hover a {
  color: var(--white);
}